# vi: ft=yaml
version: 2

locations:
  photos:
    hooks:
      before:
        - docker-compose -f /srv/photoprism/docker-compose.yml exec -T photoprism photoprism backup -i -f
    from:
      - /vault/photos/originals
      - /vault/photos/storage
    to:
      - remote
    forget: prune
    options:
      forget:
        keep-last: 7
    cron: '0 3 * * 0' # Every Sunday at 3:00

backends:
  remote:
    type: b2
    path: backups-godbold-casa
    key: {{b2_encryption_key}}
    env:
      b2_account_id: {{b2_account_id}}
      b2_account_key: {{b2_account_key}}
